@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts-folder/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts-folder/SourceSansPro-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts-folder/SourceSansPro-SemiBold.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts-folder/SourceSansPro-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts-folder/SourceSansPro-ExtraLight.ttf');
    font-weight: extraLight;
    font-style: normal;
}


@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-MediumItalic.ttf');
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GoogleSans';
    src: url('./fonts-folder/GoogleSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'ProductSans';
    src: url('./fonts-folder/Product-Sans/ProductSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('./fonts-folder/Product-Sans/ProductSans-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'ProductSans';
    src: url('./fonts-folder/Product-Sans/ProductSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProductSans';
    src: url('./fonts-folder/Product-Sans/ProductSans-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'ProductSans';
    src: url('./fonts-folder/Product-Sans/ProductSans-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-SemiBold.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('./fonts-folder/Open_Sans/OpenSans-LightItalic.ttf');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-Medium.ttf');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-Light.ttf');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts-folder/Roboto/Roboto-LightItalic.ttf');
    font-weight: light;
    font-style: italic;
}


