@import './fonts.scss';
@import './tabbedLayoutSection.scss';

$breakpoints: (
  xxs: 296px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  
  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

body {
	font-family: 'SourceCodePro', sans-serif;
	padding: 56px 0px 0px 0px;
	z-index: 0;
    color: #585754;
    background-color: #d5d0c0;
    height: 100%;
    margin: 0;
}

.navbar {
	font-weight: bold;
	background-color: #8c1515;
	color: #FFFFFF;
}

.container {
	margin-right: auto;
	margin-left: auto;
}

.container,{
    padding: 0 1.125em;
}

.nameAndTitle {
	padding: 0px 0px;
	margin: 0px 0px;
	margin: 0 0.9375em 0.9375em 0;
}

.icons-list {
	padding: 0px 0px;
	margin: 0px 0px;
	margin: 0 0.9375em 0.9375em 0.9375em;
}

.image-container {
    webkit-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    margin: 0 0.9375em 0.9375em 0.9375em;
    background-size: 7.8125em 7.8125em;
    float: left;
}

img {
	width: 7.8125em;
    height: 7.8125em;
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.banner.profile .icon-background {
    background-color: rgba(255, 255, 255, 0.2);
}

.icon-background {
    width: 1.5625em;
    height: 1.5625em;
    border-radius: 50%;
    margin: 0 0.3875em 0 0;
}

a {
	text-decoration:none;
}

.icon-text {
	font-size: 0.75em;
	font-weight: light;
    letter-spacing: 0.08333em;
    line-height: 125%;
    text-shadow: 0 0 0.83333em rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: #fff;
}


.banner .profile {
    color: white;
    padding-bottom: 1.25em;
    margin-bottom: 0;
}

.banner {
	background-image: url(../img/collonade.jpg);
    background-size: cover;
    -webkit-box-shadow: 0 0.1875em 0.1875em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.1875em 0.1875em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.1875em 0.1875em rgba(0, 0, 0, 0.2);
    background-position: center;
    margin: 0 0 1.875em 0;
    padding: 1.25em 0 1.25em 0;
}

div {
	display: block;
}

section {
    display: block;
}


h1 {
    font-size: 1.25em;
    line-height: 100%;
    margin: 0 0 0.17857em 0;
    font-weight: bold;
    text-shadow: 0 0 0.35714em rgba(0, 0, 0, 0.5);
    color: #fff;
}

h2 {
	font-size: 0.75em;
	font-weight: 500;
    letter-spacing: 0.08333em;
    line-height: 125%;
    text-shadow: 0 0 0.83333em rgba(0, 0, 0, 0.5);
    margin-bottom: 0.83333em;
    text-transform: uppercase;
    color: #fff;
}




@include respond-above(sm) {
  h1 {
    font-size: 2.25em;
  }
}

@include respond-above(sm) {
	h2 {
		font-size: 0.875em;
	}
}

@include respond-above(sm) {
	.icon-text {
		font-size: 0.875em;
	}
}

@include respond-below(xxs) {
  .nameAndTitle {
    text-align: center;
  }
}


@include respond-above(sm) {
	.nameAndTitle {
		margin: 1.875em 1.875em 1.875em 0;
	}
}

@include respond-above(sm) {
	.icons-list {
		margin: 1.875em 0 1.875em 0;
	}
}


@include respond-above(sm) {
	.image-container {
		margin: 1.875em 1.875em 1.875em 1.875em;
	    background-size: 9.375em 9.375em;
	}
}

@include respond-above(sm) {
	img {
		width: 9.375em;
	    height: 9.375em;
	}
}

@include respond-below(xss) {
	.image-container {
		padding: 0px 50px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include respond-above(md) {
	.container, .container-lg, .container-md, .container-sm {
    	max-width: 100%;
	}
}

@include respond-above(sm) {
	.container, .container-md, .container-sm {
	    max-width: 100%;
	}
}

@include respond-above(xs) {
	.container, .container-sm {
	    max-width: 100%;
	}
}


@import './portfolio.scss';