$breakpoints: (
  xxs: 296px,
  xxxs: 380px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  
  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}


.skill-box {
    font-family: 'ProductSans' sans-serif;
    font-size: 0.8375;
    letter-spacing: 0.04333em;
    color: #3c4043;
    font-weight: 500;
	background-color: #fff;
    /*border-radius: 10px;*/
    min-height: 220px;
    /*border: 1px solid #c7c1ad;*/
    margin: 10px;
    margin-bottom: 20px;
    padding: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072);

  h3 {
    font-size: 1.25em;
  }

  @include respond-above(xs) {
    h3 {
        font-size: 1.5em;
    }
  }
}

.skill-list {
    font-family: 'GoogleSans', sans-serif;
    padding: 24px 0 0 24px;

    li {
        margin-bottom: 16px;
        padding-left: 0;
        letter-spacing: 0.06em;
        float: left;
        

        h4 {
            font-size: 14px;
            float: left;
        }

        .rating {
            display: block;
            height: 16px;
            float: right;

            span {
                opacity: .3;
                height: 14px;
                width: 14px;
                background-color: #3c4043;
                display: block;
                float: left;
                margin-right: 2px;
                border: 2px solid #eee;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
            }  

            @include respond-above(xs) {
                span {
                    height: 16px;
                    width: 16px;
                }
            }   
        }

        @include respond-below(xxxs) {
            .rating {
                display: none;
            }
        }


        @include respond-below(xxxs) {
            h4 {
                width: 100%;
                line-height: unset;
            }
        }
        @include respond-between(xs,sm) {
            h4 {
                width: 260px;
            }
        }

        @include respond-between(xxxs,xs) {
            h4 {
                width: 130px;
            }
        }

        @include respond-above(sm) {
            h4 {
                width: 130px;
            }
        }

        @include respond-above(md) {
            h4 {
                width: 240px;
            }
        }

        @include respond-above(xs) {
            h4 {
                font-size: 16px;
            }
        }

        

    }

    @include respond-below(xs) {
        li {
            margin-bottom: 8px;
        }
    }

    @include respond-below(xxxs) {
        li {
            list-style: square;
        }
    }
    
}


.open {
    font-family: 'OpenSans', sans-serif;
    letter-spacing: 0.04em;
}

.product {
    font-family: 'ProductSans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06em;
    font-weight: 500;
}
.go-sans {
    font-family: 'GoogleSans', sans-serif;
}