$breakpoints: (
  xxs: 296px,
  xs: 576px,
  sm: 768px,
  md: 980px,
  lg: 1200px
);

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  
  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

#tabbedLayoutContainer {
	margin: 0 0 1.875em 0;
}

@include respond-below(sm) {
  #tabbedLayoutContainer {
    margin: 0;
  }
}


.nav-tabs .nav-item {
    padding: 0px;
    background-color: #f2f1eb;
    /* border-left: 1px solid#c7c1ad;
    border-left: 1px solid#c7c1ad;
    border-top: 1px solid#c7c1ad;  */
    font-size: 0.875em;
    font-weight: bold;
    line-height: 200%;
    text-transform: uppercase;
    width: 33.3333%;
    /* padding: 0 0.85714em 1.14286em; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #495057; */
    color: #555555;
    background-color: #fff;
    border-color:#fff #c7c1ad #fff #fff;
}

.nav-tabs .nav-link {
    /* border-top: 1px solid #c7c1ad; */
    border-bottom: 1px solid #c7c1ad;
    /* border-left: 1px solid #c7c1ad; */
    border-right: 1px solid #c7c1ad;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 0.85714em 1.14286em;
}

.nav-tabs .nav-link a {
    /* -webkit-transition: all 0.3s ease-out; */
    /* -moz-transition: all 0.3s ease-out; */
    /* -o-transition: all 0.3s ease-out; */
    color: #9d9573;
}

.nav-tabs .nav-link:hover {
    border-bottom: 1px solid #c7c1ad;
    border-right: 1px solid #c7c1ad;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    border-bottom: 1px solid #fff;
}

.nav-tabs .nav-link a:hover{
    color: #9d9573;
    cursor: pointer;
    background-color: transparent;  
}

.tab-content {
    /* border: 1px solid #c7c1ad; */
    border-top: 0;
    padding: 1.125em;
    padding-top: 2.1875em;
    border-right: 1px solid #c7c1ad;
    /* border-bottom: 1px solid #c7c1ad; */
    background-color: #fff;
}

.mydiv {
    border-top: 1px solid #c7c1ad;
    border-left: 1px solid #c7c1ad;
    border-bottom: 1px solid #c7c1ad;
}


.details-section {
	margin-bottom: 1.875em;
  word-break: break-word;
}

h3 {
	font-family: 'ProductSans', sans-serif;
    color: #8c1515;
    font-size: 1.50em;
    font-weight: bold;
    line-height: 100%;


}

@include respond-above(xs) {
  h3 {
    font-size: 1.75em;
   }
}

hr {
    width: 1.5625em;
    border: 0;
    border-bottom: 0.25em solid #8c1515;
    margin: 0.5em 0;
    margin-right: 100%;
}
.list-wrapper hr {
	border-bottom: 0.25em solid #585754;
    margin: 0.25em 0;
}

ul {
	/*list-style: none url(../img/bullet.png) outside; */
	padding: 0;
	margin-bottom: 0;
}

ul.section-listing {
	list-style-image: none;
    margin: 0 0 0 40px;
}

ul.section-listing li {
  list-style-type: square;
	margin: 0.1875em 0 0;
}

ul li {
	line-height: 125%;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}


ul.section-listing li > div.description, .tab-pane ul.section-listing li > span, .card ul.section-listing li > a {
    color: #333;
    font-size: 1em;
    font-family:sans-serif;
    letter-spacing: 0.04em;
}

/* .list-wrapper {
    font-weight: bold;
} */

ul li a {
	text-decoration:none;
	background-color: transparent;
  transition: all 0.3s ease-out;
  color: #9d9573;
  cursor: pointer;
}

ul li a:hover {
	text-decoration:none;
	background-color: transparent;
  color: #9d9573;
}

@include respond-below(sm) {
  .nav-collapse ul[class*=tabs], .nav-collapse ul[class*=tabs] {
      border: 0;
  }
}

@include respond-below(sm) {
  .nav-collapse .nav {
    margin-bottom: 0.0625em;
  }
}


@include respond-below(sm) {
  .nav-collapse ul[class*=tabs] li, .nav-collapse ul[class*=tabs] li {
      width: 100%;
  }
}

.nav-tabs li:first-child {
    border-left: 0;
}

.nav-tabs li.active {
    border-bottom-color: #fff;
    height: 2.9375em;
}

@include respond-below(md) {
  .nav-collapse .nav > li {
      float: none;
  }
}

@include respond-below(sm) {
  .nav-tabs li {
      border: 0;
  }
}

@include respond-below(md) {
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
      padding: 9px 15px;
      font-weight: bold;
      color: #555;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }
}

@include respond-below(sm) {
  .nav-collapse ul[class*=tabs] li a, .nav-collapse ul[class*=tabs] li a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border: 0;
      text-align: left;
      background-color: #f2f1eb;
      margin: 0;
  }
}



@include respond-below(sm) {
  .nav-collapse ul[class*=tabs] li.active a, .nav-collapse ul[class*=tabs] li.active a {
      background-color: #fff;
  }
}

.offset-1-and-padding {
	margin-left: 8.333333%;
	padding-left: 15px;
	padding-right: 15px;
}

.contact-info {
    padding-left: 20px;
}

.contact-item {
  color: #333;
  font-family: sans-serif;
	font-size: 1em;
	letter-spacing: 0.06em;
	padding: 0.25em 0;
}

.tab-dropdown {
  display: none;
}

a[data-toggle=collapse], .dropdown-menu a {
    font-size: 0.875em;
}

@include respond-below(sm) {
  .tab-dropdown {
    display: block;
    padding: 1.0625em;
    background-color: #f2f1eb;
  }

  .mydiv {
    border: 0;
  }
}

@include respond-below(sm) {
  .tab-dropdown a {
    display: block;
    width: 100%;
    font-size: 0.875em;
    font-weight: 600;
    text-transform: uppercase;
  }

  .tab-dropdown a {
    text-decoration: none;
    background-color: #f2f1eb;
    color: #9d9573;
  }

  .tab-content {
    border-right: 0;
  }

  .nav-tabs .nav-link:hover {
    border-bottom: 0;
    border-right: 0;
  }
}

.profile .nav-collapse {
  display: block;
}

.nav-collapse.collapse.show {
  height: auto;
}

.collapse:not(.show) {
    display: block;
}

@include respond-above(md) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

@include respond-between(sm, md) {
  .nav-collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

@include respond-below(md) {
  .nav-collapse {
    clear: both;
  }
}

@include respond-below(md) {
  .nav-collapse, .nav-collapse.collapse {
      overflow: hidden;
      height: 0;
  }
}


@include respond-below(sm) {
  .tab-dropdown a i {
    float: right;
  }
}

.banner.profile > .col-12 {
  padding-right: 0;
}
