$breakpoints: (
  xxs: 296px,
  xs: 576px,
  sm: 768px,
  md: 980px,
  lg: 1200px
);

@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  
  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}


.nav-tabs .nav-item {
    padding: 0px;
    background-color: #f2f1eb;
    /* border-left: 1px solid#c7c1ad;
    border-left: 1px solid#c7c1ad;
    border-top: 1px solid#c7c1ad;  */
    font-size: 0.875em;
    font-weight: bold;
    line-height: 200%;
    text-transform: uppercase;
    width: 25%;
    /* padding: 0 0.85714em 1.14286em; */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #495057; */
    color: #555555;
    background-color: #fff;
    border-color:#fff #c7c1ad #fff #fff;
}

.nav-tabs .nav-link {
    /* border-top: 1px solid #c7c1ad; */
    border-bottom: 1px solid #c7c1ad;
    /* border-left: 1px solid #c7c1ad; */
    border-right: 1px solid #c7c1ad;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 0.85714em 1.14286em;
}

a {
    /* -webkit-transition: all 0.3s ease-out; */
    /* -moz-transition: all 0.3s ease-out; */
    /* -o-transition: all 0.3s ease-out; */
    color: #9d9573;
}

.nav-tabs .nav-link:hover {
    border-bottom: 1px solid #c7c1ad;
    border-right: 1px solid #c7c1ad;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    border-bottom: 1px solid #fff;
}

a:hover{
    color: #9d9573;
    cursor: pointer;
    background-color: #e6e1d4;  
}

.tab-content {
    /* border: 1px solid #c7c1ad; */
    border-top: 0;
    padding: 1.125em;
    padding-top: 2.1875em;
    border-right: 1px solid #c7c1ad;
    /* border-bottom: 1px solid #c7c1ad; */
    background-color: #fff;
}

.mydiv {
    border-top: 1px solid #c7c1ad;
    border-left: 1px solid #c7c1ad;
    border-bottom: 1px solid #c7c1ad;
}


.details-section {
	margin-bottom: 1.875em;
}

h3 {
    color: #8c1515;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 100%;
}

.list-wrapper h3 {
    font-size: 0.9375em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03333em;
}

hr {
    width: 1.5625em;
    border: 0;
    border-bottom: 0.25em solid #8c1515;
    margin: 0.5em 0;
    margin-right: 100%;
}
.list-wrapper hr {
	border-bottom: 0.25em solid #585754;
    margin: 0.25em 0;
}

ul {
	/*list-style: none url(../img/bullet.png) outside; */
	padding: 0;
	margin-bottom: 0;
}

ul.section-listing {
	list-style-image: none;
    margin: 0 0 0 8.3333%;
}

ul.section-listing li {
	margin: 0.1875em 0 0;
}

ul li {
	line-height: 125%;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.tab-pane ul.section-listing li > div.description.bulleted {
    background: url(../img/bullet.png) no-repeat 0.7em 0.5em;
    padding-left: 1.42857em;
}


ul.section-listing li > div.description, .tab-pane ul.section-listing li > span, .card ul.section-listing li > a {
    font-size: 0.875em;
}

/* .list-wrapper {
    font-weight: bold;
} */

ul li a {
	text-decoration:none;
	background-color: transparent;
}

ul li a:hover {
	text-decoration:none;
	background-color: transparent;
}

.offset-1-and-padding {
	margin-left: 8.333333%;
	padding-left: 15px;
	padding-right: 15px;
}